p{
    margin: 0;
}
body{
    height: 100vh;
}
.body-wrapper{
    height: 91vh;
}
.header{
    height: 9vh;
}
.v-center{
    position: relative;
}
.wrapper-sm{
    width: 500px;
    margin: 0 auto;
}

#timer{
    font-size: 1.5rem;
}

#question{
    display: inline-block;
}

.ta-option{
    resize: none;
}

.custom-control-label{
    width: 100%;
}

.hide-alert{
    display: none;
}